.imgField1-0 {
    display: flex;
    flex-direction: row;

    width: 100%; 
    height: 100%; 
}
  

.imgField1-1 {
    position: relative;

    z-index: 1; 
}
.imgField1-1 img {
    opacity: 0.8;
}

.txtField1 {
    width: 40%;
    z-index: 2; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.txt1 {
    text-align: center;

    color: rgb(255, 255, 255);
    text-shadow:
      -2px 0 rgb(0, 0, 0, 0.5),
      0 2px rgb(0, 0, 0, 0.5),
      2px 0 rgb(0, 0, 0, 0.5),
      0 -2px rgb(0, 0, 0, 0.5);
    gap: 5px;
    font-size: 50px;

}


  



@media (max-width: 800px) {
    .imgField1-0 {
        flex-direction: column;
        flex-direction: column-reverse;
        overflow: hidden;

    }

    .txtField1 {
        position: relative;
        bottom: 100px;
        width: auto;
        bottom: 50px;
    }
    .txt1 {
        font-size: 30px;
    }

    .imgField1-1 {
        position: relative;
        overflow: hidden;
        left: -100px;
        width: 200%; 


    }
    .imgField1-1 img {

        object-fit: cover;
        width: 90%;
        height: auto;
    }
}