#HP_cardImg01-O {
    top: 99px;
    width: 68%;
    height: 62%;
}

#HP_cardImg01-I {
    top: 108px;
    width: 70%;
    height: 69%;
}

#HP_cardImg01-II {
    top: 103px;
    width: 70%;
    height: 57%;
}

#HP_cardImg01-III {
    top: 103px;
    width: 70%;
    height: 57%;
}

#HP_cardImg01-VI {
    top: 120px;
    width: 70%;
    height: 57%;
}

#HP_cardImg01-VIII {
    top: 120px;
    width: 70%;
    height: 57%;
}

#HP_cardImg01-IX {
    top: 106px;
    right: 9px;
    width: 81%;
    height: 62%;
}

#HP_cardImg01-X {
    top: 120px;
    width: 70%;
    height: 57%;
}
#HP_cardImg01-XI {
    top: 102px;
    width: 61%;
    height: 62%;
}
#HP_cardImg01-XII {
    top: 116px;
    width: 61%;
    height: 62%;
}
#HP_cardImg01-XIII {
    top: 112px;
    width: 66%;
    height: 58%;
}
#HP_cardImg01-XIV {
    top: 103px;
}
#HP_cardImg01-XV {
    top: 111px;
    width: 66%;
    height: 80%;
}

#HP_cardImg01-XVI {
    top: 103px;
    width: 66%;
    right: 38px;
    height: 80%;
}

#HP_cardImg01-XVII {
    top: 71px;
    width: 66%;
    right: 72px;
    height: 89%;
}

#HP_cardImg01-XX {
    top: 112px;
    width: 66%;
    height: 75%;
}