



#plotImgchuck0 {
    display: flex;
    width: 100%; 
}

#chuck0ImgField {
    width: 100%;
    overflow: hidden;
}

.imgField1 {
    width: 100%;
}

#chuck0ImgField img {
    opacity: 0.8;

    flex-grow: 1; 
    width: 100%; 
    height: auto; 
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.chuck0textField {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px; 
    font-size: 50px;
    color: rgb(255, 255, 255);
    width: 40%;

    text-shadow: 
    -2px 0 rgb(0, 0, 0, 0.5),
     0 2px rgb(0, 0, 0, 0.5),
     2px 0 rgb(0, 0, 0, 0.5),
     0 -2px rgb(0, 0, 0, 0.5); 


}
.chuck0text {
    text-align: center;
}






@media (max-width: 800px) {
    .plotImg {
        position: relative; 
        height: auto;
    }
    #chuck0ImgField {
        position: absolute; /* Establishes a positioning context for absolutely positioned children */

        right: 0;
        width: 90%;
    }

    .imgField1 {
        margin-left: -350px;
    }
        
    #chuck0ImgField img {
        right: 0;
        width: auto; 
        height: 700px;
        display: block; 

        z-index: 0;
    }

    
    .chuck0textField {
        z-index: 1;

        position: relative; 
        bottom: -600px;
        width: 80%; 
        height: auto;
        font-size: 40px;

    }



}


