



body {
    background-color: black;
}

.appContainer {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: black;
}


.appContent {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    z-index: 0;
}