


.slider-field img {
    z-index: 1;

    left: -110px;
    width: 200%;
    height: 200%;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.slider-field-inner1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}
.slider-field-inner1 img {
    width: 200%;
    height: 200%;
}

#inner1-Scream_bloody_gore {
    left: -110px;

}

#inner1-Leprosy {
    top: -30px;
    left: -10px;
}

#inner1-Spiritual_healing {
    top: -560px;
    left: -325px;

    width: 600%;
    height: 600%;

    transform: rotate(30deg);
}

#inner1-Human {
    width: 470%;
    height: 470%;

    object-fit: contain;
    top: -240px;
    left: -55px;
}

#inner1-Individual_thought_patterns {
    width: 100%;
    height: 100%;
}

#inner1-Symbolic {
    top: -280px;
    left: -140px;

    width: 230%;
    height: 230%;
}

#inner1-The_sound_of_perseverance {
    top: -160px;
    left: -110px;

    width: 220%;
    height: 220%;
}








/*

@media screen and (max-width: 650px) {
    #inner1-Scream_bloody_gore {
        width: 250%;
        height: 250%;

        top: -170px;
        left: -240px;
    
    }
    
    #inner1-Leprosy {
        width: 250%;
        height: 250%;
    
        top: -100px;
        left: -110px;
    }
    
    #inner1-Spiritual_healing {
        top: -560px;
        left: -570px;
    
        width: 600%;
        height: 600%;
    
        transform: rotate(30deg);
    }
    
    #inner1-Human {
        top: -10px;
        left: -45px;

        width: 400%;
        height: 400%;
    }
    
    #inner1-Individual_thought_patterns {
        width: 100%;
        height: 100%;
    }
    
    #inner1-Symbolic {
        top: -280px;
        left: -200px;
    
        width: 230%;
        height: 230%;
    }
    
    #inner1-The_sound_of_perseverance {
        top: -170px;
        left: -180px;
    
        width: 230%;
        height: 230%;
    }    

}

*/