




.SlideInfoField_0 {
    position: absolute;
    background-color: rgba(0, 128, 0, 0);
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;

}

.SlideInfoField_1 {
    z-index: 1;
    background-color: rgb(54, 54, 54);
    position: absolute;
    top: 100vh;

    transition: top 2s ease-in-out;

    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
}
.SlideInfoField_0001 {
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}
.SlideInfoField_0001.expanded {
    overflow-y: auto;
}
.SlideInfoField_1.expanded {
    transition: top 2s ease-in-out;
    top: 0;
}


.SlideInfoField_01 {
    background-color: black;
    border-top: rgba(255, 255, 255, 0.4) solid 1px;

    position: relative;

    height: 80vh; 
    width: 100vw; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.SlideInfoField_011 {
    position: absolute;

    z-index: 1;
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    object-fit: contain; 
}
.SlideInfoField_011 img {
    box-shadow: 
        0.1px 0 6px rgba(255, 255, 255, 0.3),
        -0.1px 0 6px rgba(255, 255, 255, 0.3)
    ;
    border-radius: 10px;
}
.SlideInfoField_012 {
    filter: blur(5px);
    opacity: 1;


    position: absolute;

    z-index: 0;

    width: 100vw; 
    width: 70vw; 

    border: white 1px solid;
}
.SlideInfoField_012 img{
    width: 100%;
    opacity: 0.6;

}

 


.SlideInfoField_02 {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    height: 1000px;
    position: relative;

    top: -135px;

}

.Card_Title {
    background-color: rgba(0, 0, 0, 0.5);

    font-size: 50px;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    flex-direction: row;
    color: rgba(255, 255, 255);
}
.Card_Title_0 {

    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;


    text-align: left;
    font-family: 'Georgia', sans-serif;
    font-size: 100px;
    margin-left: 40px;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}


.Card_Title_1 {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;

    
    font-family: 'CustomFont', sans-serif;
    letter-spacing: 24px;
    word-spacing: 24px;
    font-size: 24px;
    line-height: 2; 
    text-transform: uppercase;
    margin-left: 40px;
    
    font-size: clamp(1rem, 1.3vw, 1.3rem); 

    display: flex;
    flex-direction: column;

}
.Card_Title_11 {
    position: relative;
    left: 0;
    margin-bottom: 5px;

}
.Card_Title_12 {
    margin-top: 5px;
}
@media screen and (max-width: 600px) {
    .BAT_SlideInfoField_02 {
        top: -90px;
    }
    .Card_Title {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        padding: 0;
    }
    .Card_Title_0 {
        margin-left: 20px;
    }
    .Card_Title_1 {
        margin-left: 20px;
        letter-spacing: 12px;
        word-spacing: 12px;
        font-size: 12px;
    }
    .Card_Title_11 {
        margin-bottom: 5px;
    
    }
    .Card_Title_12 {
        margin-top: 5px;
    }
}









.CardMeaning {
    color: rgba(255, 255, 255, 0.9);
    background-color: black;
    
    margin-top: 20px;

    font-family: 'CustomFont', sans-serif;
    letter-spacing: 7px;
    word-spacing: 7px;
    font-size: 15px;
    line-height: 2; 
    padding: 20px;


    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 1;

}
.CardMeaning_Quote {
    text-align: center;
    font-style: italic;

    font-size: 18px;
    letter-spacing: 5px;
    word-spacing: 5px;

    width: 90%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, 1.2vw, 1.2rem); /* Adjust values as needed */

}
.CardMeaning_Description {
    margin: 100px;
    margin-top: 25px
}

@media screen and (max-width: 600px) {
    .CardMeaning {        
        /*margin: 10px;
        padding: 5px;*/

        letter-spacing: 5px;
        word-spacing: 5px;
        font-size: 13px;
        line-height: 2; 
        
    }
    .CardMeaning_Quote {
        width: 100%;
        font-size: 13px;
        letter-spacing: 5px;
        word-spacing: 5px;
    }
    .CardMeaning_Description {
        margin: 0px;
    }
}